.starter{
    all: inherit;
    background-color: khaki;
    background-attachment: fixed;
    background-origin: border-box;
    background-size: 12px;
    border-top-width: inherit;
    border-top-style: initial;
    border-top-color: lawngreen ;
    border-right-width: initial;
    border-right-color: lemonchiffon;
    border-right-style: inherit;
    border-left-color: lightblue;
    border-left-width: inherit;
    border-left-style: initial;
    border-bottom-color: lightcoral;
    border-bottom-width: initial;
    border-bottom-style: inherit;
    bottom: initial;
    box-shadow: inset;
    caption-side: bottom;
    clear: both;
    clip: auto;
    color: lightcyan;
    content: attr("Origami Designs");
    counter-increment: inherit;
    counter-reset: initial;
    cursor: alias;
    direction: ltr;
    display: block;
    empty-cells: hide;
    float: inline-end;
}
a:link{
    color: white;
}
a:visited{
    color: red;
}
.end1:hover { 
    transform:scale(1.2);
}
.end2:hover { 
    transform:scale(1.2);
}
.end3:hover { 
    transform:scale(1.2);
}
.end4:hover { 
    transform:scale(1.2);
}
.end5:hover { 
    transform:scale(1.2);
}
.end5:hover { 
    transform:scale(1.2);
}